body,h1,h2,h3,h4,h5 {
  font-family: "omnes-pro", "open sans", Helvetica, sans-serif ;
  color: #404040;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 500;
  font-size: 1.5em;
}

.form-control {
  height: 50px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.twitter-typeahead {
  width: 100%;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit;
}

#logo {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 30px;
}

#intro h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#intro p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#intro .link a, footer a, #who a {
  font-weight: 500;
  color: #27AF84;
}

form {
  margin-bottom: 50px;
}

.submit-btn, .upload-btn {
  text-transform: lowercase;
  color: #fff;
  background-color: #3ca0d3;
  border: 5px solid #3ca0d3;
  text-align: center;
  border-radius: 10px;
  padding: 7px;
  font-size: 1.5em;
  width: 250px;
  display: inline-block;
  font-weight: 500;
}

.submit-btn:hover{
  background-color: #fff;
  border: 5px solid #3ca0d3;
  color: #3ca0d3;
  font-weight: 600;
}

.submit-btn {
  margin-top: 4px;
  display: block;
}

.upload-btn {
  cursor: pointer;
  background-color: #27AF84;
  border: 5px solid #27AF84;
}

.upload-btn:hover{
  background-color: #fff;
  border: 5px solid #27AF84;
  color: #27AF84;
  font-weight: 600;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.fileUpload input.upload {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

footer {
  padding: 40px 0;
  border-top: 2px solid #dedede;
}

/*About Page*/
#about-wrapper {
  font-size: 1.3em;
}

#about-wrapper .container {
  max-width: 1000px;
}

#about-wrapper h2 {
  text-transform: uppercase;
  font-size: 1.6em;
}

#about-wrapper section {
  padding-top: 50px;
}

#navigation #logo {
  padding: 0;
}

#navigation, #what {
  color: #fff;
  background-color: #27AF84;
  padding-top: 30px;
  padding-bottom: 30px;
}

#navigation a {
  padding-left: 15px;
  line-height: 2.5em;
  color: #fff;
}

#navigation img {
  padding-bottom: 3px;
  padding-right: 2px;
}

#what, #how, #who {
  padding-bottom: 60px;
}

#what p {
  font-size: 1.1em;
}

#what h2 {
  color: #fff;
}

#what .description {
  padding-left: 10px;
}

#why, #how {
  background-color: #EDF6F2;
}

#why img, #why p {
  padding-top: 15px;
}

#how h2, #who h2 {
  padding-bottom: 15px;
}

#how img {
  border: 1px solid #CCD4D0;
}

/*media queries*/

@media (max-width: 768px) {

  #map {
    position: absolute;
    height: 300px;
  }

  #content-container {
    margin-top: 300px;
  }
}
