/*Bootstrap modifications*/
.form-control {
  height: 50px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/*Custom styles*/

.twitter-typeahead {
  width: 100%;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;

#logo {
  padding-bottom: 50px;
}

#intro {
  margin-top: 60px;
}

#intro h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#intro p {
  font-size: 1.6em;
  font-weight: 200;
  margin-bottom: 30px;
}

#about-wrapper {
  margin-top: 20px;
}

#about-wrapper h1 {
  margin-top: 30px;
  margin-bottom: 50px;
}

#about-wrapper section {
  margin-bottom: 30px;
  margin-top: 20px;
}

#about-wrapper section img {
  margin-bottom: 20px;
  border: 1px solid #dedede;
  box-shadow: 5px 5px 5px #b6b6b6;
}

footer {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 2px solid #dedede;
}
