<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    .twitter-typeahead {
      width: 600px;
    }
    #map {
      height: 300px;
      width: 780px;
      margin-top: 25px;
    }
  </style>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css" rel="stylesheet" />
</head>
<body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Lexington Address Service</h1>
      </div>
      <div class="container">
        <div id="map"></div>
      </div>
    </div>

    <div class="container">
        <div id="the-basics">
          <input class="typeahead form-control" type="text" placeholder="type an address">
        </div>
    </div> <!-- /container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script type="text/javascript">
$(function() {
  var map = MapBuilder.init('map');
  $('#the-basics .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 3
  },
  {
    name: 'query',
    displayKey: 'value',
    source: function(query, process) {
    return $.get('/geocode', { query: query }, function (geojson) {
        map.addToMap(geojson);
        var matches = [];
        geojson.features.forEach(function(feature) {
          matches.push({ value: JSON.stringify(feature) });
        });
        return process(matches);
      });
    },
  });
});
  </script>
</body>
</html>
