<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streetscope</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="map"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5">
        <div id="intro">
          <div id="logo"><img src="/static/images/streetscope-logo.png" width="50%"/></div>
          <p><strong>Geocoding is hard.</strong> Geocoders as they exist now are expensive, slow, inefficient, or inaccurate. This is largely because of the <em>data</em> that is available to create these geocoders. But what if there was an easy way to create a geocoder with open data?</p>
          <p>Enter <strong>Streetscope</strong>. Streetscope is an application that creates a geocoder from <a href='http://openaddresses.io'>OpenAddresses</a> data. This tool can be used for any city or county, so long as its data is in OpenAddresses!</p>
          <p>If you're interested in setting this up for your city or county, read the instructions on <a href='http://github.com/codeforamerica/streetscope'>GitHub</a>. If you want to use Streetscope but your data isn't in OpenAddresses, click <a href='http://openaddresses.io'>here</a>.</p>
          <p>This project was created by 2014 Code for America Fellows <a href='http://twitter.com/livienyin'>Livien Yin</a>, <a href='http://twitter.com/eeeschwartz'>Erik Schwartz</a>, <a href='http://twitter.com/lyzidiamond'>Lyzi Diamond</a>, and <a href='http://twitter.com/jeremiak'>Jeremia Kimelman</a>.</p>
        </div>
        <div id="the-basics">
          <input class="typeahead form-control" type="text" placeholder="Try it! Enter an address in San Francisco.">
        </div>

        <h3>Batch geocode!</h3>
        <h4>Submit a CSV file of addresses in San Francisco with a column named 'ADDRESS'</h4>
        <form enctype="multipart/form-data" action="/geocode_batch" method="POST">
          <input type="file" name="query">
          <input type="submit">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-5">
        <p>©2014 <a href="http://codeforamerica.org">Code for America</a></p>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script type="text/javascript">
$(function() {
  var map = MapBuilder.init('map');
  $('#the-basics .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 3
  },
  {
    name: 'query',
    displayKey: 'value',
    source: function(query, process) {
    return $.get('/geocode', { query: query }, function (geojson) {
        map.addToMap(geojson);
        var matches = [];
        geojson.features.forEach(function(feature) {
          matches.push({ value: JSON.stringify(feature) });
        });
        return process(matches);
      });
    },
  });
});
  </script>
</body>
</html>
